.tal{
  background: url("https://cdn.glitch.global/7130693a-e249-491f-8b96-e883d1e8699b/738bb20e-3ae9-4953-a17a-1c5ce9b0a850.image.png?v=1747500091761")
    no-repeat center;
    background-size: cover;
  padding:100px
}
#titulo {
  text-align: center;
  padding: 15px;
  color:
}